## 1. 파이썬 튜토리얼

### 함수

In [5]:
# def == define; 특정 함수 정의
def multiply(a, b):
    c = a * b
    return c

print(multiply(2,3))
print(multiply(4,5))

6
20

In [7]:
def sign(n):
    if n > 0:
        return "양수"
    elif n < 0:
        return "음수"
    else:
        return "0"

for n in [-1, 0, 1]:
    print(sign(n))

음수
0
양수

### 팩토리얼 함수 만들기

In [8]:
def fact(n):
    # 결과값의 초기값 1 할당
    result = 1
    
    for i in range(1,n+1):
        result = result * i
        
    return result

print (fact(3))
print (fact(7))

6
5040

In [1]:
import pandas as pd

## 2. DSschool #2에서 Titanic model을 통해 실습한 내용을 바탕으로 Bike sharing demand에 pandas library를 적용해 본다.

### 2-1. Train, Test data를 import한다.

In [60]:
train = pd.read_csv("train.csv", parse_dates=["datetime"])

print (train.shape)
train

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,334,353
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,264,268
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,159,168
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,127,132
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,35,41
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,14,15
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,2,3
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,5,5
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,29,31
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,360,363
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,183,213
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [46]:
test = pd.read_csv("test.csv", parse_dates=["datetime"])

print (test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [47]:
train.index

RangeIndex(start=0, stop=10886, step=1)

In [48]:
test.index

RangeIndex(start=0, stop=6493, step=1)

In [49]:
# column 가져오기

train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

### 2-2. 행렬

행렬 가져오기의 기본

행(column) 가져오기

In [18]:
train["count"].head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [19]:
train[["casual", "registered", "count"]].head()

   casual  registered  count
0       3          13     16
1       8          32     40
2       5          27     32
3       3          10     13
4       0           1      1

열(row) 가져오기

In [20]:
train.loc[1]

datetime      2011-01-01 01:00:00
season                          1
holiday                         0
workingday                      0
weather                         1
temp                         9.02
atemp                      13.635
humidity                       80
windspeed                       0
casual                          8
registered                     32
count                          40
Name: 1, dtype: object

In [21]:
train.loc[1:7]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3

In [23]:
train.loc [1, "season"]

1

In [30]:
train.loc[1:7, ["holiday", "workingday"]]

   holiday  workingday
1        0           0
2        0           0
3        0           0
4        0           0
5        0           0
6        0           0
7        0           0

### 2-3. 색인

찾고자 하는 조건의 데이터 가져오기.
Pandas의 대괄호[] 안에 T/F로 이루어진 DataFrame과 길이가 같은 list를 넣어주면 True에 해당하는 행(row)만을 가져올 수 있다.

In [36]:
# 'holiday'가 '1'인 행을 가져온다.
# train["holiday"] ==1 은 holiday가 1이면 True, 0이면 False로 이루어진 list 형태의 값.

print(train[train["holiday"] == 1].shape)
train[train["holiday"] == 1].head()

(311, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
372,2011-01-17 00:00:00,1,1,0,2,8.20,9.850,47,15.0013,1,16,17
373,2011-01-17 01:00:00,1,1,0,2,8.20,9.850,44,12.9980,1,15,16
374,2011-01-17 02:00:00,1,1,0,2,7.38,8.335,43,16.9979,0,8,8
375,2011-01-17 03:00:00,1,1,0,2,7.38,9.090,43,12.9980,0,2,2
376,2011-01-17 04:00:00,1,1,0,2,7.38,9.850,43,8.9981,1,2,3

In [40]:
# 풍속(windspeed)이 30 초과인 행을 가져온다.

print(train[train["windspeed"] > 30].shape)
print(train[train["windspeed"] > 30].head())

# 풍속(windspeed)이 40 초과인 행을 가져온다.

print(train[train["windspeed"] > 40].shape)
print(train[train["windspeed"] > 40].head())

# 풍속(windspeed)이 50 초과인 행을 가져온다.

print(train[train["windspeed"] > 50].shape)
print(train[train["windspeed"] > 50].head())

(427, 12)
                datetime  season  holiday  workingday  weather   temp   atemp  \
42   2011-01-02 19:00:00       1        0           0        1  13.12  14.395
175  2011-01-08 14:00:00       1        0           0        1   8.20   8.335
176  2011-01-08 15:00:00       1        0           0        1   8.20   8.335
177  2011-01-08 16:00:00       1        0           0        1   7.38   6.820
178  2011-01-08 17:00:00       1        0           0        1   6.56   6.060

     humidity  windspeed  casual  registered  count
42         42    30.0026       1          29     30
175        32    32.9975      12          83     95
176        32    30.0026       5          69     74
177        29    30.0026       8          68     76
178        37    36.9974       5          64     69
(40, 12)
                datetime  season  holiday  workingday  weather   temp   atemp  \
750  2011-02-14 15:00:00       1        0           1        1  22.96  26.515
752  2011-02-14 17:00:00       1        0           1        1  18.86  22.725
753  2011-02-14 18:00:00       1        0           1        1  16.40  20.455
757  2011-02-14 22:00:00       1        0           1        1  13.94  14.395
760  2011-02-15 01:00:00       1        0           1        1  12.30  12.120

     humidity  windspeed  casual  registered  count
750        21    43.9989      19          71     90
752        33    40.9973      25         218    243
753        40    40.9973      11         194    205
757        46    43.9989       1          44     45
760        42    51.9987       0           5      5
(4, 12)
                 datetime  season  holiday  workingday  weather   temp  atemp  \
760   2011-02-15 01:00:00       1        0           1        1  12.30  12.12
868   2011-02-19 15:00:00       1        0           0        1  18.04  21.97
2755  2011-07-03 17:00:00       3        0           0        3  32.80  37.12
2756  2011-07-03 18:00:00       3        0           0        3  32.80  37.12

      humidity  windspeed  casual  registered  count
760         42    51.9987       0           5      5
868         16    50.0021      84          87    171
2755        49    56.9969     181         177    358
2756        49    56.9969      74         107    181

In [41]:
# 습도(humidity)가 비어있는 행을 가져온다. 없으므로 아무 것도 출력되지 않는다.

train[train["humidity"].isnull()].head()

Empty DataFrame
Columns: [datetime, season, holiday, workingday, weather, temp, atemp, humidity, windspeed, casual, registered, count]
Index: []

기본 연산

In [43]:
# 풍속의 최대값 반환
print(train["windspeed"].max())

# 풍속의 평균값 반환
print(train["windspeed"].mean())

56.9969
12.799395406945093

### 2-4. 컬럼 추가 & 수정
새로운 컬럼을 추가하거나 기존의 컬럼 수정하기

In [72]:
# 체감온도와 실제 온도의 차이 컬럼 생성; tempdiff = atemp - temp
train["tempdiff"] = train["atemp"] - train["temp"]
train["tempdiff"].head()

0    4.555
1    4.615
2    4.615
3    4.555
4    4.555
Name: tempdiff, dtype: float64

In [89]:
# datetime 쪼개서 각 정보의 컬럼 만들기

train["year"] = train["datetime"].dt.year
train["month"] = train["datetime"].dt.month
train["day"] = train["datetime"].dt.day
train["hour"] = train["datetime"].dt.hour

# print (train[["year","month","day","hour"]].head())
train[["year","month","day","hour"]].head()

   year  month  day  hour
0  2011      1    1     0
1  2011      1    1     1
2  2011      1    1     2
3  2011      1    1     3
4  2011      1    1     4

In [76]:
# workingday 이면서 출퇴근시간 (7-9, 17-19)인 시간대를 rushhour로 정의

print (train[train["workingday"] == 1].shape)
print (train[train["workingday"] == 0].shape)

train.loc[(train["workingday"] == 1) & ((train["hour"] == 7) | (train["hour"] == 8) | (train["hour"] == 9) | (train["hour"] == 17) | (train["hour"] == 18) | (train["hour"] == 19)), "rushhour"] = 1
train.loc[train["rushhour"].isnull(), "rushhour"] = 0

train.head()

(7412, 18)
(3474, 18)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,rushhour,tempdiff
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0.0,4.555
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0.0,4.615
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0.0,4.615
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0.0,4.555
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0.0,4.555

2년간 각 월을 나타내는 변수 만들기

In [88]:
train["str_year"] = train["year"].astype(str)
train["str_month"] = train["month"].astype(str)

train["ymonth"] = train["str_year"] + "_" + train["str_month"]

train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,count,year,month,day,hour,rushhour,tempdiff,str_year,str_month,ymonth
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,...,16,2011,1,1,0,0.0,4.555,2011,1,2011_1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,...,40,2011,1,1,1,0.0,4.615,2011,1,2011_1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,...,32,2011,1,1,2,0.0,4.615,2011,1,2011_1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,...,13,2011,1,1,3,0.0,4.555,2011,1,2011_1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,...,1,2011,1,1,4,0.0,4.555,2011,1,2011_1

In [91]:
# 요일 변수 만들기

train["weekday"] = train["datetime"].dt.dayofweek

train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,year,month,day,hour,rushhour,tempdiff,str_year,str_month,ymonth,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,...,2011,1,1,0,0.0,4.555,2011,1,2011_1,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,...,2011,1,1,1,0.0,4.615,2011,1,2011_1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,...,2011,1,1,2,0.0,4.615,2011,1,2011_1,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,...,2011,1,1,3,0.0,4.555,2011,1,2011_1,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,...,2011,1,1,4,0.0,4.555,2011,1,2011_1,5

## Preprocessing

One-hot Encoding: Kaggle 점수를 위해 반드시 수행해야 하는 부분.

missing data

In [92]:
# 현재까지의 manipulated data를 새로운 파일로 저장 (엑셀에서 추가 분석하기 위함)

train.to_csv("train_manipulated.csv", index=False)